body{
background-size: cover;
}

.heading{
    width:100%;
    text-align: left;
    height:50px;
}
.heading button{
    float:right;
}
.heading h1{
    display:inline;
}
.copy_right_footer{
    bottom:0;
    width: 100%;
    background-color: aliceblue;
    font-size:20px;
    color:crimson;
    text-align: center;
}
#myModel_div div{
    margin-left: 1px;
}
#myModel{
    margin-top:50px;
    width:100%;
}